<a href="https://colab.research.google.com/github/luisguib22/dplython/blob/master/10_03_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numero = int(input())

while numero > 9 or numero <= 0:
    print("debe ser un entero de 1 a 9")
    numero = int(input())

-56
debe ser un entero de 1 a 9
0
debe ser un entero de 1 a 9
5

In [ ]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
multiplos = []

numero = int(input())

while numero <= 0 and numero > 9:
    numero = int(input())

multiplos = list(range(numero, 101, numero))
multiplos

3

[3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [ ]:
multiplos = []
 
# Empezamos leyendo un número entero por teclado
numero = int(input())
 
# Volveremos a leerlo mientras el número no se encuentre entre 1 y 9 (ambos incluidos)
while numero < 1 or numero > 9:
    numero = int(input())
 
# Generamos con range toda la lista de múltiplos entre el numero y 100
multiplos = list(range(numero, 101, numero))
multiplos

6

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [ ]:
matriz = [
    [8,  7,  0],
    [34, 2, -1],
    [5, -5, 12]
]


for i,fila in enumerate(matriz):
    for j,columna in enumerate(fila):
        if matriz[i][j]%2 == 0:
          matriz[i][j] = 0
        else:
          matriz[i][j] = 1 
        print(matriz[i][j], end=" ")
    print()

0 1 0
0 0 1
1 1 0

In [7]:
n1 = float(input("Primer número: "))
n2 = float(input("Segundo número: "))

print("¿Qué quieres hacer?")
print("[1] Sumar los números")
print("[2] Restar los número")
print("[3] Multiplicar los números")
print("[4] Salir")
opcion = input("Elige una opción: ")

if opcion == "1":
  print(f'La suma de {n1} + {n2} es: {n1+n2}')
elif opcion == "2":
  print(f'La resta de {n1} - {n2} es: {n1-n2}')
elif opcion == "3":
  print(f'La multipliación de {n1} * {n2} es: {n1*n2}')
elif opcion == "4":
  print("Adiós")

else:
  print("Opción no valida")

Primer número: 64
Segundo número: 99
¿Qué quieres hacer?
[1] Sumar los números
[2] Restar los número
[3] Multiplicar los números
[4] Salir
Elige una opción: 7
Opción no valida

In [ ]:
type(n1)

float